



<div class="load" *ngIf="loding$ | async">
    <mat-progress-spinner>
        <mat-spinner></mat-spinner>  
    </mat-progress-spinner>
</div>

<div class="m-cards" *ngIf="loaded$ | async">

   
<app-videoCard class="el-card" *ngFor="let card of posts"  [card]="card"  >    
</app-videoCard>




  


</div>


<ngb-pagination  
class="pagin-com"
[collectionSize]="collectionSize" 
[pageSize]="itemsPerPage" 
[(page)]="page" 
[boundaryLinks]="true" 
(click)="onPageChanged()">

</ngb-pagination>
