*{
  margin:0;
  padding: 0;
}

.example-form {
   margin: 0;
   padding: 0;
    max-width: 396px;
    margin-top:20px;
    width: 100%;
  }
  
  .btn{
    padding: 24px 44px ;
   border-radius: 0px 5px 5px 0px;
  }
  .example-full-width {
    height: 73px;
    width: 100%;
  }
  .block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .mcard{
    position: relative;
    height: 50px;
    padding-right: 10px;
    width:50px;
  }
  .mark{
   position: absolute;
   top:-10px;
   right:1px;
   width:70px;
   height:70px;
  }
 .login{
   margin-left: 150px;
   display: flex;
   justify-content: center ;
   align-items: center;
 }
 .login-img{
  padding-left: 10px;
  padding-top: 5px;
 }
 .login-sp{
  
 }
 .set-img{

}
.hide-btn{
   border: 0px;
   background-color: rgb(0,0,0,0);
   cursor: pointer;
   text-decoration: none;
}
.out-btn{
  padding-left: 10px;
  padding-top: 5px;
}