.smt-wrong{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.errFnt{
    margin-left: 25px ;
    color:#0444f3;
    font-size: 40px;
    font-weight: bold;
}